@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row mb-5 d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6 p-4 border rounded-3 bg-white shadow">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="h4 mb-5 text-secondary">Register</h2>

            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label asp-for="Input.FirstName" class="form-label">First name:</label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your first name" />
                    <span asp-validation-for="Input" class="text-danger"></span>
                </div>
                <div class="mb-3 col-lg-6">
                    <label asp-for="Input.LastName" class="form-label">Last name:</label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your last name" />
                </div>
            </div>
            
            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label asp-for="Input.IIN" class="form-label">IIN:</label>
                    <input asp-for="Input.IIN" class="form-control" autocomplete="username" aria-required="true" pattern="[0-9]{12}"
                                   placeholder="Enter your IIN (12 numbers)" />
                    <span asp-validation-for="Input.IIN" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label asp-for="Input.Email" class="form-label">Email:</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="example@email.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3 col-lg-6">
                    <label asp-for="Input.PhoneNumber" class="form-label">Phone number:</label>
                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="+87071234567" pattern="+[0-9]{11}" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label asp-for="Input.Password" class="form-label">Password:</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 col-lg-6">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm password:</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Re-enter password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 mt-4">
                <button id="registerSubmit" type="submit" class="btn btn-primary float-end">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
